.card {
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
    overflow-y: auto;
}

.h2{
    font-size: xx-large;
}

.footer a{
    text-decoration: none;
    color: white;
    padding: 0.5rem 0.5rem;
    background-color: #4d1601;
    border-radius: 25px;
}